{% extends 'base.html' %}

{% block title %} {{name}} {% endblock %}

{% block body %}
    <h1>{{name}}</h1>
    <div class="col-2">
        <ul class="list-group">
        <li class="list-group-item">Amount: {{quantity}}</li>
        <li class="list-group-item">Priority: <span class="importance-color" style="background-color: {{importance_color}}"></span></li>
        <li class="list-group-item">Unit: {{unit}}</li>
        <li class="list-group-item">Brand: {{brand}}</li>
        <li class="list-group-item">Store: {{store}}</li>
    </ul>
    </div>
    <a class="btn btn-primary my-4" href="{% url 'get-all-grocery-entries'%}">home</a>
{% endblock %}