{% extends 'base.html' %}
{% load static %}

{% block title %} None Default {% endblock %}
{% block head %}
    <script defer src="{% static 'entries/js/script.js' %}">

    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-12 my-2">
            <h1>Grocery List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6">
            <form method="post" action="/">
                <div class="row g-3">
                    <div class="col-12"><label class="form-label" for="name">Name</label>
                        <input class="form-control" required type="text" id="name" name="name"/>
                    </div>

                    <div class="col-6">
                        <label class="form-label" for="importance_color">Priority</label>
                        <select class="form-select" id="importance_color" name="importance_color">
                            <option value="G">Green</option>
                            <option value="Y">Yellow</option>
                            <option value="R">Red</option>
                        </select>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="quantity">Quantity</label>
                        <input class="form-control" type="number" id="quantity" name="quantity"/>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="unit">Unit</label>
                        <input class="form-control" type="text" id="unit" name="unit"/>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="brand">Brand</label>
                        <input class="form-control" type="text" id="brand" name="brand"/>
                    </div>
                    <div class="col-6">
                        <label class="form-label" for="store">Store</label>
                        <select class="form-select" id="store" name="store">
                            {% for store in stores %}
                                <option value="{% url 'get-single-store' store.id %}">{{ store.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-6 d-flex align-items-end">
                        <button style="height: 3rem" class="btn btn-primary" type="submit" name="submit">Submit</button>
                    </div>
                </div>
                {% csrf_token %}
            </form>
        </div>
        <div class="col-12 col-md-6">
            <a class="btn btn-primary my-4" href="/stores">List of Stores</a>
            <h4>There are {{ amount_in_list }} items on the list</h4>
            <label class="form-label" for="color-filter">Priority</label>
            <div class="row">
                <div class="col-6">
                    <select class="form-select" id="color-filter">
                        <option value="No Filter">No Filter</option>
                        <option value="G">Green</option>
                        <option value="Y">Yellow</option>
                        <option value="R">Red</option>
                    </select>
                </div>
            </div>

            <div class="col-6">
                <ul class="list-group" id="groceries-list">
                    {% for entry in groceries_list %}

                        <li class="list-group-item">
                            <a class="btn entry-btn" href="{% url 'get-single-entry' entry.id %}">
                                <div>
                                    {% include 'entries/icons/importance_color.html' with width="20px" height="20px" color=entry.get_color %}
                                </div>
                                {{ entry }}
                                <div class="ms-auto">
                                    {% if entry.purchased %}
                                        {% include 'entries/icons/green_check.html' with width="20px" height="20px" %}
                                    {% else %}
                                        {% include 'entries/icons/square.html' with width="20px" height="20px" %}
                                    {% endif %}


                                </div>

                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

{% endblock %}