{% extends 'base.html' %}

{% block title %} Stores {% endblock %}

{% block body %}
<h1>Stores</h1>
<h2>Would you like to add a store?</h2>
<form method="post" action="/stores" >
    {% csrf_token %}
    <div>
        <label for="name">Name</label>
        <input required type="text" id="name" name="name">
    </div>
    <div>
        <button type="submit" name="Submit">Submit</button>
    </div>

</form>
<h4>{{amount}} store(s) saved</h4>
<ul>
    {% for store in stores_data %}
    <li><a href="{% url 'get-single-store' store.id %}">{{ store }}</a></li>
    {% endfor %}
</ul>


{% endblock %}